body {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
    overflow: hidden;
}

.Conteneur {
    height: auto;
    width: 100%;
    margin: 10px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

header a {
    text-decoration: none;
    color: #202124;
    padding: 5px;
    display: flex;
    text-align: end;
}

.Lien {
    display: flex;
    gap: 10px;
}

.Gmail:hover {
    background-color: #c1c6c8;
    border-radius: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.Google {
    display: flex;
    font-size: 120px;
    gap: 10px;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
    font-weight: 800;
}

.Google p {
    margin: 0;
}

.Bleu {
    color: #4A91F4;
}

.Rouge {
    color: #ED4C3C;
}

.Jaune {
    color: #FBC505;
}

.Vert {
    color: #3AB25D;
}

input {
    height: 50px;
    width: 700px;
    border-radius: 16px;
    font-size: 25px;
    padding: 10px;
    outline-color: #4A91F4;
    border: solid;
}

.Boutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

button {
    border-radius: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f1f3f4;
    color: #3AB25D;
    box-shadow: 1px 1px 5px 2px #888;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;

}

footer p {
    margin: 0;
    color: #202124;
    margin-bottom: 2px;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 15px;
}

ul :first-child {
    list-style: none;
}

@media (max-width:768px) {
    
    input {
        width: 500px;
        height: 50px;

    }

    .Google {
        font-size: 100px;
    }

    .Boutton {
        margin-top: -15px;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 425px) {
    .Google {
        font-size: 60px;
    }

    input {
        width: 350px;
        height: 50px;
        font-size: 20px;
    }

    .Conteneur {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    footer {
        margin-right: 30px;
    }

    .Lien {
        margin-left: 35%;
    }
}

@media (max-width: 375px) {
    .Google {
        font-size: 50px;
    }

    input {
        width: 300px;
        height: 40px;
    }
}